# What Parking Tickets Mean for Toronto

Parking violations and parking tickets are a contentious topic for Torontonians.

Toronto parking regulations have a reputation for being confusing and misleading. In this notebook we study parking tickets and to see what impact they have on the city and its citizens.

The data was obtained form the city of Toronto's Open Data catalogue and can be downloaded [here](https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#75d14c24-3b7e-f344-4412-d8fd41f89455)

## Data Dictionary

| Column | Meaning |
| :--- | :--- |
|TAG_NUMBER_MASKED |	First three (3) characters masked with asterisks |
DATE_OF_INFRACTION |	Date the infraction occurred in YYYYMMDD format
INFRACTION_CODE	| Applicable Infraction code (numeric)
INFRACTION_DESCRIPTION |	Short description of the infraction
SET_FINE_AMOUNT |	Amount of set fine applicable (in dollars)
TIME_OF_INFRACTION |	Time the infraction occurred  in HHMM format (24-hr clock)
LOCATION1 |	Code to denote proximity (see table below)
LOCATION2 |	Street address
LOCATION3 |	Code to denote proximity (optional)
LOCATION4 |	Street address (optional)
PROVINCE |	Province or state code of vehicle licence plate

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Align tables in markdown

In [12]:
%%html
<style>
    table {
        margin-left: 0 !important
    }
    td, th {
        text-align: left !important
    }
</style>

In [14]:
tickets = pd.read_csv("data/parking_tickets_2016/parking_tags_2016.csv")

In [17]:
tickets.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254761 entries, 0 to 2254760
Data columns (total 12 columns):
origin                    int64
tag_number_masked         object
date_of_infraction        int64
infraction_code           float64
infraction_description    object
set_fine_amount           int64
time_of_infraction        float64
location1                 object
location2                 object
location3                 object
location4                 object
province                  object
dtypes: float64(2), int64(3), object(7)
memory usage: 959.6 MB

In [16]:
tickets.head()

,origin,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,1,***03850,20160101,29.0,PARK PROHIBITED TIME NO PERMIT,30,0.0,NR,49 GLOUCESTER ST,NaN,NaN,ON
1,1,***03851,20160101,29.0,PARK PROHIBITED TIME NO PERMIT,30,1.0,NR,45 GLOUCESTER ST,NaN,NaN,ON
2,1,***98221,20160101,29.0,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,274 GEORGE ST,NaN,NaN,ON
3,1,***85499,20160101,29.0,PARK PROHIBITED TIME NO PERMIT,30,2.0,NR,270 GEORGE ST,NaN,NaN,ON
4,1,***03852,20160101,406.0,PARK-VEH. W/O VALID ONT PLATE,40,2.0,NR,45 GLOUCESTER ST,NaN,NaN,ON